# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smart-farm

# MQTT (HiveMQ Cloud)
MQTT_BROKER_URL=mqtts://xxxx.s2.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password

# Server
PORT=3000

# Simulator
PUBLISH_INTERVAL_MS=5000
FARM_IDS=farm-A,farm-B
